p/adapters/xml/ep2/InutInvoiceDocument_204_106.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by Juliana Kanbach (Cingo) -->
<!-- edited with XMLSPY v2004 rel. 2 U (http://www.xmlspy.com) by Marcio Lohmann (Datasul Logistica) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="Signature_204_106.xsd"/>
	<xs:include schemaLocation="../DatasulMessage.xsd"/>
	<xs:include schemaLocation="BasicType_204_106.xsd"/>
	<xs:element name="DatasulMessage" type="DatasulMessageType">
		<xs:annotation>
			<xs:documentation>Mensagem padrão para a transação de Custos Item</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="BusinessContentType">
		<xs:annotation>
			<xs:documentation>Conteúdo padrão da mensagem</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="Upsert" type="UpsertType">
				<xs:annotation>
					<xs:documentation>Operação de inclusão e alteração</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="TRetInutNFe">
		<xs:annotation>
			<xs:documentation>Tipo retorno do Pedido de Inutilização de Numeração da Nota Fiscal Eletrônica</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="infInut">
				<xs:annotation>
					<xs:documentation>Dados do Retorno do Pedido de Inutilização de Numeração da Nota Fiscal Eletrônica</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="tpAmb" type="TAmb">
							<xs:annotation>
								<xs:documentation>Identificação do Ambiente:
1 - Produção
2 - Homologação</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="verAplic" type="TVerAplic">
							<xs:annotation>
								<xs:documentation>Versão do Aplicativo que processou a NF-e</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="cStat" type="TStat">
							<xs:annotation>
								<xs:documentation>Código do status da mensagem enviada.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="xMotivo">
							<xs:annotation>
								<xs:documentation>Descrição literal do status do serviço solicitado.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="255"/>
									<xs:whiteSpace value="collapse"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="cUF" type="TCodUfIBGE" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Código da UF do emitente</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ano" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Ano de inutilização da numeração</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:short">
									<xs:pattern value="[0-9]{2}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="CNPJ" type="TCnpj" minOccurs="0">
							<xs:annotation>
								<xs:documentation>CNPJ do emitente</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="mod" type="TMod" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Modelo da NF-e (55, etc.)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="serie" type="TSerie" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Série da NF-e</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="nNFIni" type="TNF" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Número da NF-e inicial</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="nNFFin" type="TNF" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Número da NF-e final</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="dhRecbto" type="xs:dateTime" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Data e hora de recebimento, no formato AAAA-MM-DDTHH:MM:SS. Deve ser preenchida com data e hora da gravação no Banco em caso de Confirmação. Em caso de Rejeição, com data e hora do recebimento do Pedido de Inutilização.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="nProt" type="TProt" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Número do Protocolo de Status da NF-e. 1 posição (1 – Secretaria de Fazenda Estadual 2 – Receita Federal); 2 - código da UF - 2 posições ano; 10 seqüencial no ano.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="Id" type="xs:ID" use="optional"/>
				</xs:complexType>
			</xs:element>
			<xs:element ref="ds:Signature" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="versao" use="required" fixed="1.06">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:totalDigits value="4"/>
					<xs:fractionDigits value="2"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="TProcInutNFe">
		<xs:annotation>
			<xs:documentation>Tipo Pedido de inutilzação de númeração de  NF-e processado</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="inutNFe" type="TInutNFe"/>
			<xs:element name="retInutNFe" type="TRetInutNFe"/>
		</xs:sequence>
		<xs:attribute name="versao" type="xs:decimal" use="required" fixed="1.06"/>
	</xs:complexType>
	<xs:complexType name="TInutNFe">
		<xs:annotation>
			<xs:documentation>Tipo Pedido de Inutilização de Numeração da Nota Fiscal Eletrônica</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="infInut">
				<xs:annotation>
					<xs:documentation>Dados do Pedido de Inutilização de Numeração da Nota Fiscal Eletrônica</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="tpAmb" type="TAmb">
							<xs:annotation>
								<xs:documentation>Identificação do Ambiente:
1 - Produção
2 - Homologação</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="xServ" type="TServ" fixed="INUTILIZAR">
							<xs:annotation>
								<xs:documentation>Serviço Solicitado</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="cUF" type="TCodUfIBGE">
							<xs:annotation>
								<xs:documentation>Código da UF do emitente</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ano">
							<xs:annotation>
								<xs:documentation>Ano de inutilização da numeração</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:short">
									<xs:pattern value="[0-9]{2}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="CNPJ" type="TCnpj">
							<xs:annotation>
								<xs:documentation>CNPJ do emitente</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="mod" type="TMod">
							<xs:annotation>
								<xs:documentation>Modelo da NF-e (55, etc.)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="serie" type="TSerie">
							<xs:annotation>
								<xs:documentation>Série da NF-e</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="nNFIni" type="TNF">
							<xs:annotation>
								<xs:documentation>Número da NF-e inicial</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="nNFFin" type="TNF">
							<xs:annotation>
								<xs:documentation>Número da NF-e final</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="xJust" type="TJust">
							<xs:annotation>
								<xs:documentation>Justificativa do pedido de inutilização</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="Id" type="xs:ID" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="versao" use="required" fixed="1.06">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:totalDigits value="4"/>
					<xs:fractionDigits value="2"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ReturnContentType">
		<xs:annotation>
			<xs:documentation>Conteúdo de retorno da mensagem</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ReturnContentBaseType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UpsertType">
		<xs:annotation>
			<xs:documentation>Definição dos elementos que deverão compor as mensagens de upsert (inclusao / alteração)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="inutNFe" type="TInutNFe"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeleteType">
		<xs:annotation>
			<xs:documentation>Definição dos elementos que deverão compor as mensagens de delete (exclusão)</xs:documentation>
		</xs:annotation>
	</xs:complexType>
</xs:schema>
